language: julia
os:
  - linux
  - osx
julia:
  - 1.1
  - 1.2
  - nightly
matrix:
  allow_failures:
    - julia: nightly
codecov: true
jobs:
  include:
    - stage: "Documentation"
      julia: 1.1
      os: linux
      script:
        - julia --project=docs/ -e 'using Pkg; Pkg.instantiate(); Pkg.develop(PackageSpec(path=pwd()))'
        - julia --project=docs/ docs/make.jl
      after_success: skip
